<!DOCTYPE html>
<html lang="en" th:replace="~{base :: perent-fragment(~{::#content}, ~{::link}, ~{::title}, ~{::script})}">
<head>
    <title>About</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="content">
        <h1>Welcome to about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima facere esse pariatur corporis aliquam magnam eveniet repellat reprehenderit deserunt ab necessitatibus, consectetur culpa, velit, enim eum maxime! Similique, suscipit tempore.</p>
    </div>

    <script>
        console.log("this is about page script");
    </script>
</body>
</html>