
<!DOCTYPE html>
<html lang="en" th:fragment="perent-fragment(content, link, title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>

    <!-- flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <!-- font awesoem -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body class="bg-gray-100 dark:bg-gray-900 dark:text-white">

    <!-- Common Header -->
     <!-- user navbar when user logged in -->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/user_navbar :: user-navbar}"></div>
    </div>

    <!-- user navbar when user not logged in -->
    <div th:unless="${loggedInUser}">
        <div data-th-replace="~{navbar :: navbar}"></div>
    </div>

    <!-- Common Body -->
    <div class="p-4 m-4">
        <section th:replace="${content}"></section>
    </div>

    <!-- Common Footer -->
     <!-- <footer>
        <h3>This is common footer</h3>
     </footer> -->

     <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>
</html>